{%extends 'base.html'%}

{% block body %}


<h1>Bananas</h1>

{% if user and user.user_type == 'customer' %}
  <form action="{{ url_for('chat') }}" method="get">
      <label for="vendor_id">Message a Vendor:</label>
      <select name="vendor_id" required>
          {% for vendor in vendors %}
                <option value="{{ vendor.user_id }}">{{ vendor.name }} ({{ vendor.username }})</option>
          {% endfor %}
      </select>
      <button type="submit">Start Chat</button>
  </form>
{% endif %}


<!-- {% if user and user.user_type == 'vendor' %}
  <h3>Incoming Chats</h3>
  <ul>
    {% for customer in incoming_chats %}
      <li>
        <form action="{{ url_for('chat') }}" method="get" style="display: inline;">
          <input type="hidden" name="customer_id" value="{{ customer.user_id }}">
          <button type="submit">Chat with {{ customer.name }} ({{ customer.username }})</button>
        </form>
      </li>
    {% else %}
      <li>No chats yet.</li>
    {% endfor %}
  </ul>
{% endif %} -->


{% endblock %}