{%extends 'base.html'%}

{% block body %}

<style>
.content-box {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.search-div {
    padding: 10px 0;
    display: flex;
    width: 500px;
    height: 50px;
    border: 2px solid black; 
    border-radius: 20px;
    justify-content: center;
    background-color: #FFFBE6;
}

#search-bar {
    font-size: 15px;
    width: 400px;
    height: 45px;
    background-color: transparent;
    border: none;
}

.search-submit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.inner-search-div {
    display: flex;
    align-items: center;
}

input:focus {
    outline: none;
    box-shadow: none;
    border: none; 
}

.product-page-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid black; 
    border-radius: 50px;
}

.product-card {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px; 
    padding: 16px;
    background-color: #FFFBE6;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease;
}

.product-card:hover {
    background-color: #9e9878a6;
}

.product-images img {
    width:100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.color-swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #ccc;
}

.size-chip {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 4px 8px;
    margin: 4px 4px 4px 0;
    border-radius: 6px;
    font-size: 0.85em;
    border: 1px solid #ccc;
}

.div-flex {
    display: flex;
    align-items: center;
}

.filter-div {
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 2px, solid, black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 520px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button-filter-div {
    background-color: #FFFBE6;
    cursor: pointer;
    border: none;
    padding: 8px;
}

.dropdown-content input:hover {
    background-color: #ddd;
}

</style>

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

<body>
    <div class='content-box'>
        <div class='div-flex'>
            <div class='search-div'>
                <form action="/search-products" method="POST" class='inner-search-div'>
                    <input type="text" id="search-bar" name="search-bar" placeholder="Search">
                    <button type="submit" class='search-submit-btn'>
                        <span class="material-symbols-outlined">search</span>
                    </button>
                </form>
            </div> 
            <div class='filter-div'>
                <div class="dropdown">
                    <button class='button-filter-div'>
                        <span class="material-symbols-outlined">filter_alt</span>
                    </button>
                    <div class="dropdown-content">
                        <form action="/filter-submit" method="POST">
                            <b>Color</b><br>
                            <label><input type="checkbox" name="color" value="black"> Black</label>
                            <label><input type="checkbox" name="color" value="white"> White</label>
                            <label><input type="checkbox" name="color" value="grey"> Grey</label>
                            <label><input type="checkbox" name="color" value="red"> Red</label>
                            <label><input type="checkbox" name="color" value="orange"> Orange</label>
                            <label><input type="checkbox" name="color" value="yellow"> Yellow</label>
                            <label><input type="checkbox" name="color" value="blue"> Blue</label>
                            <label><input type="checkbox" name="color" value="purple"> Purple</label>
                            <label><input type="checkbox" name="color" value="pink"> Pink</label>
                            <label><input type="checkbox" name="color" value="other"> Other</label>
                            <br><br><b>Size</b><br>
                            <label><input type="checkbox" name="size" value="xsmall"> X-Small</label>
                            <label><input type="checkbox" name="size" value="small"> Small</label>
                            <label><input type="checkbox" name="size" value="medium"> Medium</label>
                            <label><input type="checkbox" name="size" value="large"> Large</label>
                            <label><input type="checkbox" name="size" value="xlarge"> X-Large</label>
                            <br><br><b>Category</b><br>
                            <label><input type="checkbox" name="category" value="automotive"> Automotive</label>
                            <label><input type="checkbox" name="category" value="beauty-personal-care"> Beauty & Personal Care</label>
                            <label><input type="checkbox" name="category" value="books"> Books</label>
                            <label><input type="checkbox" name="category" value="clothes"> Clothes</label>
                            <label><input type="checkbox" name="category" value="electronics"> Electronics</label>
                            <label><input type="checkbox" name="category" value="food"> Food</label>
                            <label><input type="checkbox" name="category" value="home-kitchen"> Home & Kitchen</label>
                            <label><input type="checkbox" name="category" value="tools"> Tools</label><br>
                            <label><input type="checkbox" name="category" value="toys-games"> Toys & Games</label>
                            <label><input type="checkbox" name="category" value="video-games"> Video Games</label>
                            <br><br><b>Stock</b><br>
                            <label><input type="checkbox" name="stock" value="in-stock"> In stock</label>
                            <br><br><button type="submit">Apply</button>
                        </form>
                    </div>
                </div>
            </div>              
        </div>
        

        <div class='product-page-div'>
            {% if products == 'none' %}
                <p>The item you have searched does not exist</p>
            {% elif products %}
            <div class="product-grid">
                {% for product in products %}
                    <div class="product-card" onclick="window.location.href='{{ url_for('view_product', product_id=product.product_id) }}'">
                        {% if product.images %}
                            <div class="product-images">
                                {% for img_url in product.images %}
                                    <img src="{{ img_url }}" alt="Product Image">
                                {% endfor %}
                            </div>
                        {% endif %}
        
                        <h2>{{ product.title }}</h2>
                        <p>{{ product.description }}</p>
        
                        <p><strong>Vendor:</strong> {{ product.vendor }}</p>
        
                        <div class="color-blocks">
                            <strong>Colors:</strong>
                            {% for color in product.colors %}
                                <div class="color-swatch" style="background-color: {{ color | lower }};" title="{{ color }}"></div>
                            {% endfor %}
                        </div>
        
                        <div class="size-blocks">
                            <strong>Sizes:</strong>
                            {% for size in product.sizes %}
                                <span class="size-chip">{{ size }}</span>
                            {% endfor %}
                        </div>
        
                        <p><strong>Warranty:</strong> {{ product.warranty or "None" }}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}